<% layout('layouts/boilerplate') %>

    <body>
       <h1>Create New Listing</h1>
        <form class="row g-3 needs-validation" action="/listings" method="POST" novalidate>
            <div class="col-md-6 ">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class=" form-control" id="title" name="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <div class="col-md-6">
                <label for="image" class="form-label">Image URL:</label>
                <input type="text" class=" form-control" id="image" name="image[url]" required>
                <div class="invalid-feedback">
                    Please provide a valid image URL.
                </div>
            </div> 
            <div class="col-md-12 ">
                <label for="description" class="form-label">Description:</label>
                <textarea class=" form-control" id="description" name="description" required></textarea>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <div class="col-md-12 ">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class=" form-control" id="location" name="location" required>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>
            <div class="col-md-6">
                <label for="country" class="form-label">Country:</label>
                <input type="text" class=" form-control" id="country" name="country" required>
                <div class="invalid-feedback">
                    Please provide a valid country.
                </div>
            </div>
            <div class="col-md-6 ">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class=" form-control" id="price" name="price" required>
                <div class="invalid-feedback">
                    Please provide a valid price.
                </div>
            </div>

            <div class="col-6">
                <button type="submit" class="btn btn-primary">Create Listing</button>
            </div>
        </form>

    </body>