<% layout('layouts/boilerplate') %>

<div class="row col-6 mt-5 mb-5 offset-3">
  <h1 class=" col-6 offset-3 mb-3">Login</h1>
  <form action="/login" class="col-6 mt-1 offset-3" class="" method="post">
    <section class="mb-3">
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        type="text"
        autocomplete="username"
        required
        autofocus
      />
    </section>
    <section  class="mb-4">
      <label for="current-password">Password</label>
      <input
        id="current-password"
        name="password"
        type="password"
        autocomplete="current-password"
        required
      />
    </section>
    <button type="submit">Login</button>
  </form>
</div>
